@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>KnockoutBootstrapPagination Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="@Url.Content("~/apple-touch-icon.png")">


    <link rel="stylesheet" href="~/content/normalize.css">
    <link rel="stylesheet" href="~/content/bootstrap.css">
    <link rel="stylesheet" href="~/content/toastr.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- top scripts-->
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/scripts/knockout.mapping-latest.js"></script>
    <script src="~/scripts/toastr.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->

    <div class="container">
        <div class="page-header">
            <h3>CLIN</h3>
        </div>
        <div class="row" id="clinsDiv">
            <div class="col-md-12">
                <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="collapse-heading-one">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one"
                                    aria-expanded="true" aria-controls="collapse-one">
                                    Demo CLIN
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="collapse-heading-one">
                            <div class="panel-body">

                                <partial name="_clinEditor" />

                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-md-12"
                                        data-bind="template:{ name:'clin-listTemplate', foreach: clins }">
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <partial name="_slinEditorModal" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <partial name="_koTemplates" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/app2.js"></script>

</body>

</html>
