@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>KnockoutBootstrapPagination Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="@Url.Content("~/apple-touch-icon.png")">

    @Styles.Render(
    "~/content/normalize",
    "~/content/bootstrap",
    "~/content/site")

    <!-- top scripts-->
    @Scripts.Render(
        "~/bundles/modernizr",
        "~/bundles/jquery",
        "~/bundles/knockout")
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->

    <div class="container" style="display: none;" data-bind="visible: true">
        <div class="page-header">
            <hgroup>
                <h2>
                    Sample utilization of KnockoutBootstrap Pagination
                </h2>
                <h3>
                    Server data refresh with no caching
                </h3>
            </hgroup>
        </div>

        <div class="alert alert-info" data-bind="visible: pageStatus() === 1">
            Loading data
        </div>

        <div class="alert alert-danger" data-bind="visible: pageStatus() === 2">
            Something happened on the server side, check your logs.
        </div>

        <section data-bind="visible: pageStatus() === 0">
            <div class="row">

                <nav aria-label="Page navigation">
                    <ul class="pagination" data-bind="template: {name: 'page-template', foreach: pagination.visiblePages }"></ul>
                </nav>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <table class="table table-strip table-responsive">
                        <tr>
                            <th>Id</th>
                            <th>Text</th>
                        </tr>
                        <tbody data-bind="template: { name: 'table-data', foreach: source } "></tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    @Scripts.Render(
        "~/bundles/bootstrap",
        "~/bundles/app"
    )

</body>

</html>
