<script type="text/html" id="page-template">
    <li data-bind="css: $parent.enablePrevArrow() ? '' : 'disabled', visible: $parent.showPrevArrow($data)">
        <a href="#" aria-label="Previous" data-bind="click: $parent.onPrevClick">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>

    <li data-bind="visible: $parent.showPrevEllipsis($data)">
        <a href="#" data-bind="click: $parent.previousBatch">...</a>
    </li>

    <li data-bind="css: ($data === $parent.currentPage() ? 'active': '')">
        <a href="#" data-bind="text: $data, click: $parent.changePage">

        </a>
    </li>

    <li data-bind="visible: $parent.showNextEllipsis($data)">
        <a href="#" data-bind="click: $parent.nextBatch">...</a>
    </li>

    <li data-bind="css: $parent.enableNextArrow($data) ? '' : 'disabled', visible: $parent.showNextArrow($data)">
        <a href="#" aria-label="Next" data-bind="click: $parent.onNextClick">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</script>