<script type="text/html" id="page-template">
    <li data-bind="visible: $data === ($parent.initIndex() + 1), css: ($parent.currentPage() === 1 ? 'disabled' : '')">
        <a href="#" aria-label="Previous" data-bind="click: ($parent.currentPage() > 1) ? $parent.previousPage : null">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>

    <li data-bind="visible: ($parent.currentPage() > $parent.maxVisiblePages()) && ($data === ($parent.initIndex() + 1))">
        <a href="#" data-bind="click: $parent.previousBatch">...</a>
    </li>

    <li data-bind="css: ($data === $parent.currentPage() ? 'active': '')">
        <a href="#" data-bind="text: $data, click: $parent.changePage">

        </a>
    </li>

    <li data-bind="visible: ($parent.currentPage() < ($parent.endIndex() + 1) && $data === $parent.endIndex())">
        <a href="#" data-bind="click: $parent.nextBatch">...</a>
    </li>

    <li data-bind="css: ($parent.currentPage() === $parent.totalPages() ? 'disabled': ''), visible: ($data === $parent.endIndex() )">
        <a href="#" aria-label="Next" data-bind="click: ($parent.currentPage() !== $parent.totalPages()) ? $parent.nextPage : null">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</script>